body, html {
  max-height: 9999px; 
}
body {
  width: 700px;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 11pt;
  line-height: 18pt;
  position: relative;
}
#info {
  background: #f7f7f7;
  border-top: 1px solid #ddd;
  height: 90px;
  padding: 0 2.5em;
  transition: height 0.2s;
  -webkit-transition: height 0.2s;
  overflow: hidden;
}
#text {
  background: #fff;
  overflow: hidden;
  height: 191px;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  opacity: 1;
}
#text.prepare {
  opacity: 0;
}
#text.animated {
  transition: height 0.2s, opacity 0.2s;
  -webkit-transition: height 0.2s, opacity 0.2s;
}
#text,
#text textarea {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  line-height: 160%;
  border: 0px;
  resize: none;
}
#text textarea {
  width: 100%;
  outline: none;
  height: 191px;
}
#text iframe { 
  height: 191px;
  padding: 0 !important;
}
#stats {
  color: #333;
  font-size: .8em;
  line-height: 1.4em;     
}
#stats .wrapper {
  padding-top: 2.5em; 
}
#stats span.value {
  font-weight: bold;
}
#stats .score-wrapper,
#stats .text-wrapper,
#stats .result-wrapper {
  float: left;
}
#stats .score-wrapper {
  width: 33%;
}
#stats .text-wrapper {
  width: 26%;
}
#stats .result-wrapper {
  width: 33%;
}
#stats .score {
  display: block;
  float: left;
  height: 30px;
  font-weight: bold;
  font-size: 35px;
  line-height: 26px;
  padding-top: 2px;
  margin-right: 8px;
}
#stats.processing .score,
#stats.processing .stopwords,
#stats.processing .stopwords-suffix {
  color: #999;
  border-color: #ccc;
}
a {
  color: #0160A0;
  text-decoration: none;
  border-bottom: 1px solid #acd;
}
a:hover {
  opacity: .5;
}
#welcome {
  color: #333;
  font-size: .8em;
  line-height: 1.4em;
  position: relative;
}
#welcome .wrapper {
  padding-top: 1.8em;
}
#welcome .copyright a {  
  border-bottom-color: #ccc;
  color: #888;
}
#welcome .task {
  float: left;
  width: 55%;
  margin: 0;
}
#welcome .copyright {
  float: right;
  width: 41%;
  margin: 0;
  color: #888;
}
#rule .wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
#rule .title {
  font-weight: bold;
  font-size: 140%;
  margin: 0 0 0.2em;
}
#rule .description {
  font-size: 90%;
  line-height: 140%;
  margin: 0;
}
#error .wrapper {
  padding-top: 1.35em;
}
#error .title {
  font-weight: bold;
  font-size: 140%;
  margin: 0 0 0.2em;
  color: #DA570F;
}
#error .description {
  font-size: 90%;
  line-height: 140%;
  margin: 0;
}
#rule,
#welcome,
#stats,
#error {
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: height 0s linear 0.2s, opacity 0.2s ease;
  -webkit-transition: height 0s linear 0.2s, opacity 0.2s ease;
}
body.status-rule #rule,
body.status-welcome #welcome,
body.status-error #error,
body.status-stats #stats {
  height: 90px;
  opacity: 1;
  transition: height 0s linear 0.2s, opacity 0.2s linear 0.2s;
  -webkit-transition: height 0s linear 0.2s, opacity 0.2s linear 0.2s;
}
body.status-error #text {
  opacity: 0.5;
}
body.status-waiting:before {
  content: '';
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
#arrow {
  position: absolute;
  bottom: 76px;
  z-index: 888;
  left: 106px;
  pointer-events: none;
  opacity: 0;
  margin-left: -9999px;
  transition: height 0s linear 0.2s, opacity 0.2s ease;
  -webkit-transition: height 0s linear 0.2s, opacity 0.2s ease;
}
body.status-welcome #arrow {
  margin-left: 0;
  opacity: 1;
  transition: margin-left 0s linear 0.2s, opacity 0.2s linear 0.2s;
  -webkit-transition: margin-left 0s linear 0.2s, opacity 0.2s linear 0.2s;
}